.movies {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  min-width: 320px;
}

.movies__button-container {
  width: 320px;
  height: 36px;
  flex-shrink: 0;
  border: solid 1px #424242;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  cursor: pointer;
}

.movies__button {
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.movies__button-container:hover {
  cursor: pointer;
  transition: 0.7s ease-in-out;
  color: #000;
  background-color: #2be080;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .movies__button-container {
    margin-top: 48px;
  }
}

@media screen and (max-width: 530px) {
  .movies__button-container {
    width: 240px;
    height: 36px;
    margin-top: 56px;
  }
}
