.searchform {
  padding: 80px 70px;
  background-color: #202020;
}

.searchform__wrapper {
  border-radius: 8px;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1086px;
  height: 50px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.searchform__wrapper:focus-within {
  border-bottom: 2px solid #48ff00;
}

.searchform__switch {
  border: none;
  padding: 0;
  margin: 0;
}

.searchform__switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 12px;
  padding-top: 42px;
  padding-bottom: 70px;
  border-bottom: 1px solid #424242;
}

.searchform__input {
  border-radius: 40px;
  background: #2f2f2f;
  color: #8b8b8b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border: transparent;
  width: 95%;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
}

.searchform__button {
  background-image: url('../../images/searchIcon.svg');
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background-color: #2f2f2f;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: -54px;
  cursor: pointer;
  z-index: 0;
  position: relative;
  outline: none;
  border-radius: 8px;
}

.searchform__switch-tumbler {
  display: flex;
  cursor: pointer;
  width: 36px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}

.searchform__switch-tumbler:hover {
  opacity: 0.7;
  cursor: pointer;
}

.searchform__switch-tumbler::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 25%;
  left: 8.33%;
  background-color: #ffffff;
  transition: 0.4s ease-out;
  display: flex;
}

.searchform__switch-input:checked ~ .searchform__switch-tumbler {
  background: #2be080;
}
.searchform__switch-input:checked ~ .searchform__switch-tumbler::after {
  left: 60%;
}

.searchform__switch-input {
  display: none;
}

.searchform__short-films {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .searchform__wrapper {
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 768px) {
  .searchform {
    max-width: 708px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .searchform__wrapper {
    max-width: 654px;
  }
}

@media screen and (max-width: 760px) {
  .searchform {
    padding-top: 94px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 59px;
  }

  .searchform__wrapper {
    max-width: calc(100% - 54px);
    height: 44px;
  }

  .searchform__switch-container {
    gap: 12px;
    padding-bottom: 50px;
  }

  .searchform__short-films {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .searchform {
    padding-top: 80px;
    padding-bottom: 9px;
  }

  .searchform__input {
    width: 212px;
    padding-left: 13px;
    padding-top: 12px;
    color: #8b8b8b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}
