.techs {
  display: block;
}

.techs__wrapper {
  background: #272727;
  padding: 100px 70px 100px;
}

.techs__title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadada;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  line-height: 27px;
  margin: 0;
  padding: 0 0 23px;
}

.techs__subtitle {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 58px;
  margin: 90px 0 26px;
  text-align: center;
}

.techs__description {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  width: 460px;
}

.techs__items {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 100px auto 0;
  padding: 0;
}

.techs__item {
  align-items: center;
  background: #303030;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  justify-content: center;
  letter-spacing: -0.56px;
  line-height: 17px;
  list-style: none;
  text-align: center;
  width: 90px;
}

.techs__item:hover {
  background-color: #2be080;
  color: #000;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .techs__wrapper {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin-bottom: 22px;
    margin-top: 80px;
  }

  .techs__description {
    font-size: 12px;
    letter-spacing: -0.48px;
    line-height: 18px;
  }

  .techs__items {
    margin-top: 83px;
  }

  .techs__item {
    font-size: 12px;
    height: 57px;
    letter-spacing: -0.48px;
    width: 84px;
  }
}

/* @media screen and (max-width: 768px) {
  .techs__items {
    display: grid;
    grid-template-columns: 84px 84px;
    margin-top: 51px;
  }
} */

@media screen and (max-width: 530px) {
  .techs__wrapper {
    padding-bottom: 60px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .techs__title {
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 28px;
  }

  .techs__subtitle {
    color: #fff;
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-top: 61px;
  }

  .techs__description {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.44px;
    line-height: 16px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 292px;
  }

  .techs__items {
    display: grid;
    grid-template-columns: 84px 84px;
    margin-top: 51px;
  }
}
