.personal-info {
  margin: 110px auto 100px;
  background-color: #202020;
}

.personal-info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.personal-info__wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.personal-info__role {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding: 0 0 23px 0;
  width: calc(100% - 140px);
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.personal-info__name {
  margin: 66px 0 18px;
  padding: 0;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.personal-info__title {
  margin: 0 0 26px;
  padding: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.personal-info__description {
  margin: 0 0 99px;
  padding: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.personal-info__github {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.personal__avatar {
  align-self: self-end;
  width: 270px;
  height: 327px;
  margin: 0;
  padding: 0;
}

.personal-info__github:hover {
  opacity: 0.5;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .personal-info {
    margin: 90px auto;
    max-width: 668px;
  }

  .personal-info__role {
    width: 100%;
  }

  .personal-info__container {
    width: 100%;
  }
  .personal__avatar {
    width: 255px;
    height: 307px;
  }

  .personal-info__wrapper {
    max-width: 364px;
  }

  .personal-info__name {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }

  .personal-info__title {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .personal-info__description {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .personal-info__github {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .portfolio__link-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: 5px;
  }
}
